@model Forum.ViewModels.LoginViewModel
@{
    ViewBag.Title = "login";
}

<h4 class="text-center">Вход на сайт</h4>
<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card border-2 border-primary">
            <div class="card-body">
                <form asp-action="Login" asp-controller="Account" asp-route-returnUrl="@Model.ReturnUrl"
                      asp-anti-forgery="true">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div>
                        <div class="mb-3">
                            <input asp-for="UserNameOrEmail" type="text" class="form-control"
                                   placeholder="Логин или эл. адрес"><br/>
                            <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
                        </div>
                        <div class="mb-2">
                            <label asp-for="Password" class="form-label">Введите пароль</label>
                            <input id="password" asp-for="Password" class="form-control" placeholder="Пароль..."/>
                            <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span><br/>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <input class="form-check-input" type="checkbox" asp-for="RememberMe"/>
                            <label class="form-check-label" asp-for="RememberMe">Запомнить</label><br/>
                            <span asp-validation-for="RememberMe" class="text-danger"></span>
                        </div>

                        <input type="hidden" asp-for="ReturnUrl" value="@ViewBag.ReturnUrl">


                        <div class="form-group py-3 d-flex justify-content-center">
                            <input type="submit" value="Войти" class="btn btn-outline-primary px-5"/>
                        </div>
                    </div>
                </form>
                <div class="border border-2 text-center p-3">
                    <p>У вас ещё нет аккаунта ? <a asp-action="Register" class="text-decoration-none">Зарегистрироваться</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {

            $(".toggle-password").addClass("fa-eye");
            $("#password").attr("type", "password");

            $(".toggle-password").click(function () {

                $(this).toggleClass("fa-eye fa-eye-slash");

                var input = $($(this).attr("toggle"));

                if (input.attr("type") === "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                }
            });
        });
    </script>

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}